.container {
    display: flex; /* Use flexbox layout */
    height: 100vh; /* Full height of viewport */
    max-width: 100vw;
}

  /* right content section */
.content {
    flex: 1; /* Take up remaining space */
    padding: 0; /* Add padding for spacing */
    overflow-y: auto;
    max-width: 100vw; /* Limit the container's width to the viewport width */
    overflow-x: hidden;
}

.spacer {
    margin-bottom: 30pt; /* Adjust as needed */
}

  /* left image section */
.image {
    flex: 0 0 30%; /* Take up 30% of available space, but don't grow or shrink */
    position: relative; /* Position relative to its container */
    background: url('mark-tarrisse-strange-structure-001ab.jpg') no-repeat center center; /* Set the background image */
    background-size: cover;  /* Cover the entire container */
}

.image-container {
    display: inline-block;
    margin-left: 70px;
    margin-right: 70px; /* Add left margin */
}

/* Image styles */
.image-container img {
    display: block;
    max-width: 100%; /* Ensure the image does not exceed its container's width */
    height: auto; /* Maintain aspect ratio */
}

.image-container img:hover {
    opacity: 0.8;
}


.img1 {
    width: auto;
    max-width: calc(100% - 10pt); /* Set the width */
    height: auto; /* Maintain aspect ratio */
    position: relative; /* Position absolutely */
}



/* Hide scrollbar for the entire page */
body {
    margin: 0;
    overflow: hidden;
}



h1 {
    margin-top: -5pt;
    padding-right: 70px;
    padding-left: 70px;
    font-family: "Times New Roman", sans-serif;
    color: #333;
    font-size: 26pt;
    padding: 70px;
}

h2 {
    margin-top: -5pt;
    padding-right: 70px;
    padding-left: 70px;
    font-family: "Times New Roman", sans-serif;
    color: #781c1c;
    font-size: 20pt;
    padding: 70px;
}

p {
    margin-top: -60pt;
    font-family: "Courier New", serif;
    color: #666;
    font-size: 14pt;
    text-align: justify;
    padding-right: 70px;
    padding-left: 70px;
}











@media screen and (max-width: 768px) {
    .content img.mobile-only {
    display: block; /* Display the image */
    width: 100%; /* Set the width */
    height: auto;
    }

    .content img.desktop-only {
    display: none; /* Hide the image on desktop */
    }
}

@media screen and (min-width: 769px) {
    .content img.mobile-only {
        display: none; /* Hide the image on desktop */
    }

    .content img.desktop-only {
        display: block; /* Display the image on desktop */
        max-width: 100%; /* Make sure the image doesn't exceed the width of the container */
        margin-bottom: 20px; /* Add some spacing below the image */
    }
}

@media screen and (max-width: 769px) {
    .image{
        display: none;
    }

    h1, h2{
        padding-right: 25px;
        padding-left: 25px;
        margin-top: -25pt;
    }

    p{
        padding-right: 25px;
        padding-left: 25px;
    }

    .image-container {
        margin-left: 25px;
        margin-right: 25px; /* Add left margin */
    }
}


